In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("kidney_disease.csv")

In [3]:
data.head(3)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.02,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.02,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd

In [31]:
data.shape

(400, 26)

In [32]:
data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [19]:
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib
import missingno as msno

Using matplotlib backend: Qt5Agg

In [20]:
msno.matrix(data)

In [35]:
msno.heatmap(data)

In [21]:
msno.dendrogram(data)

C:\Users\LENOVO\Anaconda\lib\site-packages\matplotlib\axes\_base.py:3179: UserWarning: Attempting to set identical bottom==top results
in singular transformations; automatically expanding.
bottom=0.0, top=0
  'bottom=%s, top=%s') % (bottom, top))

In [37]:
data.dtypes
data.head

<bound method NDFrame.head of       id   age     bp     sg   al   su       rbc        pc         pcc  \
0      0  48.0   80.0  1.020  1.0  0.0       NaN    normal  notpresent
1      1   7.0   50.0  1.020  4.0  0.0       NaN    normal  notpresent
2      2  62.0   80.0  1.010  2.0  3.0    normal    normal  notpresent
3      3  48.0   70.0  1.005  4.0  0.0    normal  abnormal     present
4      4  51.0   80.0  1.010  2.0  0.0    normal    normal  notpresent
5      5  60.0   90.0  1.015  3.0  0.0       NaN       NaN  notpresent
6      6  68.0   70.0  1.010  0.0  0.0       NaN    normal  notpresent
7      7  24.0    NaN  1.015  2.0  4.0    normal  abnormal  notpresent
8      8  52.0  100.0  1.015  3.0  0.0    normal  abnormal     present
9      9  53.0   90.0  1.020  2.0  0.0  abnormal  abnormal     present
10    10  50.0   60.0  1.010  2.0  4.0       NaN  abnormal     present
11    11  63.0   70.0  1.010  3.0  0.0  abnormal  abnormal     present
12    12  68.0   70.0  1.015  3.0  1.0       NaN    normal     present
13    13  68.0   70.0    NaN  NaN  NaN       NaN       NaN  notpresent
14    14  68.0   80.0  1.010  3.0  2.0    normal  abnormal     present
15    15  40.0   80.0  1.015  3.0  0.0       NaN    normal  notpresent
16    16  47.0   70.0  1.015  2.0  0.0       NaN    normal  notpresent
17    17  47.0   80.0    NaN  NaN  NaN       NaN       NaN  notpresent
18    18  60.0  100.0  1.025  0.0  3.0       NaN    normal  notpresent
19    19  62.0   60.0  1.015  1.0  0.0       NaN  abnormal     present
20    20  61.0   80.0  1.015  2.0  0.0  abnormal  abnormal  notpresent
21    21  60.0   90.0    NaN  NaN  NaN       NaN       NaN  notpresent
22    22  48.0   80.0  1.025  4.0  0.0    normal  abnormal  notpresent
23    23  21.0   70.0  1.010  0.0  0.0       NaN    normal  notpresent
24    24  42.0  100.0  1.015  4.0  0.0    normal  abnormal  notpresent
25    25  61.0   60.0  1.025  0.0  0.0       NaN    normal  notpresent
26    26  75.0   80.0  1.015  0.0  0.0       NaN    normal  notpresent
27    27  69.0   70.0  1.010  3.0  4.0    normal  abnormal  notpresent
28    28  75.0   70.0    NaN  1.0  3.0       NaN       NaN  notpresent
29    29  68.0   70.0  1.005  1.0  0.0  abnormal  abnormal     present
..   ...   ...    ...    ...  ...  ...       ...       ...         ...
370  370  69.0   70.0  1.020  0.0  0.0    normal    normal  notpresent
371  371  28.0   60.0  1.025  0.0  0.0    normal    normal  notpresent
372  372  72.0   60.0  1.020  0.0  0.0    normal    normal  notpresent
373  373  61.0   70.0  1.025  0.0  0.0    normal    normal  notpresent
374  374  79.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
375  375  70.0   80.0  1.020  0.0  0.0    normal    normal  notpresent
376  376  58.0   70.0  1.025  0.0  0.0    normal    normal  notpresent
377  377  64.0   70.0  1.020  0.0  0.0    normal    normal  notpresent
378  378  71.0   60.0  1.025  0.0  0.0    normal    normal  notpresent
379  379  62.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
380  380  59.0   60.0  1.020  0.0  0.0    normal    normal  notpresent
381  381  71.0   70.0  1.025  0.0  0.0       NaN       NaN  notpresent
382  382  48.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
383  383  80.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
384  384  57.0   60.0  1.020  0.0  0.0    normal    normal  notpresent
385  385  63.0   70.0  1.020  0.0  0.0    normal    normal  notpresent
386  386  46.0   70.0  1.025  0.0  0.0    normal    normal  notpresent
387  387  15.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
388  388  51.0   80.0  1.020  0.0  0.0    normal    normal  notpresent
389  389  41.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
390  390  52.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
391  391  36.0   80.0  1.025  0.0  0.0    normal    normal  notpresent
392  392  57.0   80.0  1.020  0.0  0.0    normal    normal  notpresent
393  393  43.0   60.0  1.025  0.0  0.0    normal    normal  notpresent
394  394  50.0   80.0  1.020  0.0  0.0    normal    normal  notpresent
395  395  55.0   80.0  1.020  0.0  0.0    normal    normal  notpresent
396  396  42.0   70.0  1.025  0.0  0.0    normal    normal  notpresent
397  397  12.0   80.0  1.020  0.0  0.0    normal    normal  notpresent
398  398  17.0   60.0  1.025  0.0  0.0    normal    normal  notpresent
399  399  58.0   80.0  1.025  0.0  0.0    normal    normal  notpresent

             ba      ...         pcv       wc   rc  htn   dm  cad  appet   pe  \
0    notpresent      ...        44.0   7800.0  5.2  yes  yes   no   good   no
1    notpresent      ...        38.0   6000.0  NaN   no   no   no   good   no
2    notpresent      ...        31.0   7500.0  NaN   no  yes   no   poor   no
3    notpresent      ...        32.0   6700.0  3.9  yes   no   no   poor  yes
4    notpresent      ...        35.0   7300.0  4.6   no   no   no   good   no
5    notpresent      ...        39.0   7800.0  4.4  yes  yes   no   good  yes
6    notpresent      ...        36.0      NaN  NaN   no   no   no   good   no
7    notpresent      ...        44.0   6900.0  5.0   no  yes   no   good  yes
8    notpresent      ...        33.0   9600.0  4.0  yes  yes   no   good   no
9    notpresent      ...        29.0  12100.0  3.7  yes  yes   no   poor   no
10   notpresent      ...        28.0      NaN  NaN  yes  yes   no   good   no
11   notpresent      ...        32.0   4500.0  3.8  yes  yes   no   poor  yes
12   notpresent      ...        28.0  12200.0  3.4  yes  yes  yes   poor  yes
13   notpresent      ...         NaN      NaN  NaN  yes  yes  yes   poor  yes
14      present      ...        16.0  11000.0  2.6  yes  yes  yes   poor  yes
15   notpresent      ...        24.0   3800.0  2.8  yes   no   no   good   no
16   notpresent      ...         NaN      NaN  NaN   no   no   no   good   no
17   notpresent      ...         NaN      NaN  NaN  yes   no   no   poor   no
18   notpresent      ...        37.0  11400.0  4.3  yes  yes  yes   good   no
19   notpresent      ...        30.0   5300.0  3.7  yes   no  yes   good   no
20   notpresent      ...        24.0   9200.0  3.2  yes  yes  yes   poor  yes
21   notpresent      ...        32.0   6200.0  3.6  yes  yes  yes   good   no
22   notpresent      ...        32.0   6900.0  3.4  yes   no   no   good   no
23   notpresent      ...         NaN      NaN  NaN   no   no   no   poor   no
24      present      ...        39.0   8300.0  4.6  yes   no   no   poor   no
25   notpresent      ...        29.0   8400.0  3.7  yes  yes   no   good   no
26   notpresent      ...        35.0  10300.0  4.0  yes  yes   no   poor   no
27   notpresent      ...        37.0   9600.0  4.1  yes  yes  yes   good  yes
28   notpresent      ...         NaN      NaN  NaN   no  yes   no   good   no
29   notpresent      ...        38.0      NaN  NaN   no   no  yes   good   no
..          ...      ...         ...      ...  ...  ...  ...  ...    ...  ...
370  notpresent      ...        50.0   9300.0  5.4   no   no   no   good   no
371  notpresent      ...        51.0   6500.0  5.0   no   no   no   good   no
372  notpresent      ...        52.0  10500.0  5.5   no   no   no   good   no
373  notpresent      ...        47.0   9200.0  4.9   no   no   no   good   no
374  notpresent      ...        40.0   8000.0  6.4   no   no   no   good   no
375  notpresent      ...        48.0   9700.0  5.6   no   no   no   good   no
376  notpresent      ...        53.0   9100.0  5.2   no   no   no   good   no
377  notpresent      ...        49.0   6400.0  4.8   no   no   no   good   no
378  notpresent      ...        42.0   7700.0  5.5   no   no   no   good   no
379  notpresent      ...        50.0   5400.0  5.7   no   no   no   good   no
380  notpresent      ...        54.0   6500.0  4.9   no   no   no   good   no
381  notpresent      ...        40.0   5800.0  5.9   no   no   no   good   no
382  notpresent      ...        51.0   6000.0  6.5   no   no   no   good   no
383  notpresent      ...        49.0   5100.0  5.0   no   no   no   good   no
384  notpresent      ...        42.0  11000.0  4.5   no   no   no   good   no
385  notpresent      ...        52.0   8000.0  5.1   no   no   no   good   no
386  notpresent      ...        43.0   5700.0  6.5   no   no   no   good   no
387  notpresent      ...        50.0   6200.0  5.2   no   no   no   good   no
388  notpresent      ...        46.0   9500.0  6.4   no   no   no   good   no
389  notpresent      ...        52.0   7200.0  5.8   no   no   no   good   no
390  notpresent      ...        52.0   6300.0  5.3   no   no   no   good   no
391  notpresent      ...        44.0   5800.0  6.3   no   no   no   good   no
392  notpresent      ...        46.0   6600.0  5.5   no   no   no   good   no
393  notpresent      ...        54.0   7400.0  5.4   no   no   no   good   no
394  notpresent      ...        45.0   9500.0  4.6   no   no   no   good   no
395  notpresent      ...        47.0   6700.0  4.9   no   no   no   good   no
396  notpresent      ...        54.0   7800.0  6.2   no   no   no   good   no
397  notpresent      ...        49.0   6600.0  5.4   no   no   no   good   no
398  notpresent      ...        51.0   7200.0  5.9   no   no   no   good   no
399  notpresent      ...        53.0   6800.0  6.1   no   no   no   good   no

     ane classification
0     no            ckd
1     no            ckd
2    yes            ckd
3    yes            ckd
4     no            ckd
5     no            ckd
6     no            ckd
7     no            ckd
8    yes            ckd
9    yes            ckd
10   yes            ckd
11    no            ckd
12    no            ckd
13    no            ckd
14    no            ckd
15   yes            ckd
16    no            ckd
17    no            ckd
18    no            ckd
19    no            ckd
20   yes            ckd
21    no            ckd
22   yes            ckd
23   yes            ckd
24    no            ckd
25   yes            ckd
26    no            ckd
27    no            ckd
28    no            ckd
29    no            ckd
..   ...            ...
370   no         notckd
371   no         notckd
372   no         notckd
373   no         notckd
374   no         notckd
375   no         notckd
376   no         notckd
377   no         notckd
378   no         notckd
379   no         notckd
380   no         notckd
381   no         notckd
382   no         notckd
383   no         notckd
384   no         notckd
385   no         notckd
386   no         notckd
387   no         notckd
388   no         notckd
389   no         notckd
390   no         notckd
391   no         notckd
392   no         notckd
393   no         notckd
394   no         notckd
395   no         notckd
396   no         notckd
397   no         notckd
398   no         notckd
399   no         notckd

[400 rows x 26 columns]>

In [4]:
mapping = {'yes':1, 'no':0}
data = data.replace({'htn':mapping,'pe':mapping,'ane':mapping})
mapping1 = {'normal':1, 'abnormal':0}
data = data.replace({'rbc':mapping1, 'pc':mapping1})
mapping4 = {'present':1, 'notpresent':0}
data = data.replace({'pcc':mapping4, 'ba':mapping4})
mapping5 = {'good':1, 'poor':0}
data = data.replace({'appet':mapping5})
mapping6 = {'ckd':1, 'notckd':0, 'ckd\t':1}
data = data.replace({'classification':mapping6})

data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc               float64
pc                float64
pcc               float64
ba                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn               float64
dm                 object
cad                object
appet             float64
pe                float64
ane               float64
classification      int64
dtype: object

In [39]:
data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc               float64
pc                float64
pcc               float64
ba                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn               float64
dm                 object
cad                object
appet             float64
pe                float64
ane               float64
classification      int64
dtype: object

In [40]:
data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc               float64
pc                float64
pcc               float64
ba                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn               float64
dm                 object
cad                object
appet             float64
pe                float64
ane               float64
classification      int64
dtype: object

In [41]:
y = data.ix[:,(25)].values
print(y)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [42]:
#mapping6 = {'?':0}
#data = data.replace({'pcv':mapping6, 'wc':mapping6, 'rc':mapping6, 'dm':mapping6, 'cad':mapping6})

In [43]:
data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc               float64
pc                float64
pcc               float64
ba                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn               float64
dm                 object
cad                object
appet             float64
pe                float64
ane               float64
classification      int64
dtype: object

In [5]:
data.drop(['cad','dm'],axis=1,inplace=True)

In [6]:
data.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc               float64
pc                float64
pcc               float64
ba                float64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn               float64
appet             float64
pe                float64
ane               float64
classification      int64
dtype: object

In [9]:
X = data.ix[:,(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22)].values
y = data.ix[:,(23)].values
print(X)
print(y)

[[ 48.     80.      1.02  ...,   1.      0.      0.   ]
 [  7.     50.      1.02  ...,   1.      0.      0.   ]
 [ 62.     80.      1.01  ...,   0.      0.      1.   ]
 ...,
 [ 12.     80.      1.02  ...,   1.      0.      0.   ]
 [ 17.     60.      1.025 ...,   1.      0.      0.   ]
 [ 58.     80.      1.025 ...,   1.      0.      0.   ]]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [48]:
X.shape

(400, 22)

In [7]:
data = data.fillna(method = 'ffill')

In [49]:
y.shape

(400,)

In [50]:
data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               2
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               3
pot               3
hemo              0
pcv               0
wc                0
rc                0
htn               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [8]:
data.rbc = data.rbc.fillna(1)
meansod = np.mean(data.sod)
data.sod = data.sod.fillna(meansod)
meanpot = np.mean(data.pot)
data.pot = data.pot.fillna(meanpot)
data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
model = RandomForestClassifier()
model.fit(X,y)
predictions = model.predict(X)
#print("Accuracy : %s" % "{0:.3%}".format(accuracy))
a=int(input("enter age in years"))
b=int(input("enter blood pressure in mm/Hg"))
c=float(input("enter Specific gravity in nominal"))
d=int(input("enter albumin in nominal(1-5)"))
e=int(input("enter sugar in nominal"))
f=int(input("enter rbc(1-normal,0-abnormal)"))
g=int(input("enter pus cell(1-normal,0-abnormal)"))
h=int(input("enter pus cell clumps(1-present,0-not present)"))
i=int(input("enter bacteria(1-present,0-not present)"))
j=int(input("enter blood glucose random"))
k=int(input("enter blood urea"))
l=float(input("enter serum creatinione"))
m=int(input("enter sodium"))
n=float(input("enter potassium"))
o=float(input("enter hemoglobin"))
p=int(input("enter packed cell volume"))
q=int(input("enter white blood cell count"))
r=float(input("enter red blood cell count"))
s=int(input("enter hypertension"))
t=int(input("enter appetite"))
u=int(input("enter pedal edema"))
v=int(input("enter anemia"))
ex=np.array([[a],[b],[c],[d],[e],[f],[g],[h],[i],[j],[k],[l],[m],[n],[o],[p],[q],[r],[s],[t],[u],[v]])
#ex.shape
ex = ex.reshape(1,len(ex))
prediction = model.predict(ex)
if prediction==1:
    print("ckd is positive")
else:
    print("ckd is negative")
accuracy = metrics.accuracy_score(predictions,y)
print("Accuracy : %s" % "{0:.3%}".format(accuracy))

enter age in years30
enter blood pressure in mm/Hg80
enter Specific gravity in nominal1.1
enter albumin in nominal(1-5)3
enter sugar in nominal2
enter rbc(1-normal,0-abnormal)0
enter pus cell(1-normal,0-abnormal)1
enter pus cell clumps(1-present,0-not present)1
enter bacteria(1-present,0-not present)1
enter blood glucose random120
enter blood urea30
enter serum creatinione1.8
enter sodium104
enter potassium3.2
enter hemoglobin12.2
enter packed cell volume32
enter white blood cell count9600
enter red blood cell count4.4
enter hypertension0
enter appetite1
enter pedal edema0
enter anemia1
ckd is positive
Accuracy : 100.000%

Accuracy : 85.750%

In [25]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
model = GaussianNB()
model.fit(X,y)
predictions = model.predict(X)
#print("Accuracy : %s" % "{0:.3%}".format(accuracy))
accuracy = metrics.accuracy_score(predictions,y)
print("Accuracy : %s" % "{0:.3%}".format(accuracy))

Accuracy : 98.250%